# Compiled class file
*.class

# Log file
*.log

# Build artifacts
target/
*.jar
*.war

# Database files
titan_core.db

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# virtual machine crash logs
hs_err_pid*
replay_pid*
